*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #292929;
}

h1 {
    font-size: 45px;
    color: #EFEFDC;
    margin-bottom: 10px;
    font-family: "Overpass", sans-serif;
    font-weight: 800;
    font-style: normal;
}

h2 {
    font-size: 25px;
    color: #EFEFDC;
    font-family: "Overpass", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h3 {
    color: #292929;
    font-size: 25px;
    background-color: #efefdc85;
    font-family: "Overpass", sans-serif;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px;
}

h5{
    font-size: 18px;
    color: #EFEFDC;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h6{
    font-size: 20px;
    color: #EFEFDC;
    font-family: "Overpass", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

p {
    font-size: 13px;
    color: #EFEFDC;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: "Kode Mono", monospace;
}

hr{
    border: 1px solid #EFEFDC;
    margin: 20px 0;

}

a{
    font-family: "Overpass", sans-serif;
    font-weight: 800;
}

.header-container {
    position: relative;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #292929;
    border:#333 solid 10px;
    border-bottom: none;
    text-align: center;
}

.header-background-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    width: 400px;
    height: 115%;
    object-fit: fill;
    mix-blend-mode: lighten;
    opacity: 60%;
}

.page-container {
    display:flex;
    width: 100%;
}

.space {
    width: 20%;
    border-top: #333 solid 10px;
    background-color: #333;
}

.content {
    width: 80%;
    padding: 20px;
    border: #333 solid 10px;
}

@media (max-width: 950px) {
    .space {
        border: none;
        width: 0;
    }
    .content {
        width: 100%;
        border-top: none;
    }
}

::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
    background: #EFEFDC; /* Scrollbar handle color */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B8B8A4; /* Color on hover */
}

/* For other browsers like Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #EFEFDC #333; /* thumb and track color */
}

.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the navbar stays on top of other content */
}

.navbar-brand {
    color: #EFEFDC;
    font-size: 30px;
}

.navbar-brand:hover {
    color: #efefdc85;
}

.navbar-nav .nav-link {
    color: #EFEFDC;
    font-size: 20px;
    font-weight: 300;
}

.navbar-nav .nav-link:hover {
    color: #efefdc85;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-radius: 15px;
}

#footer-container {
    background-color: #333;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler i {
    color: #EFEFDC;
    transform: scale(-1.9) translateX(1px) rotate(180deg);
}

.nav-icon-collapsed {
    color: #EFEFDC;
    transform: scale(-1.9) translateX(1px) rotate(180deg);
}

.nav-icon-expanded {
    color: #EFEFDC;
    transform: scale(2);
}

.navbar-toggler i:hover {
    color: #efefdc85;
}

#about-container {
    display: flow-root;
}

#photo-container{
    float: left; 
    width: 30%;
    padding: 20px;
    padding-left: 10px;
    margin-right: 20px;
}

#photo-container img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#bio-container{
    padding-top: 20px;
}

#bio-container p{
    flex-direction: flex-start;
}


@media (max-width: 768px) {
    #about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #photo-container{
        width: 75%;
        padding: 20px;
        margin: 0 auto;
    }
}

.projects-view-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #292929; /* Matches body background */
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-container, .client-project-container {
    flex: none;
    width: 400px; /* Adjust as needed */
    margin: 10px;
    background-color: #333; /* Matches the style of other containers */
    color: #EFEFDC; /* Matches text color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Matches styling of h3 */
    overflow: hidden; /* For border-radius to affect child elements */
}

@media (max-width: 768px) {
    .project-container, .client-project-container{
        width: 250px; /* Adjust as needed */
    }
}

.project-container h4, .client-project-container h4 { /* Assuming h4 for project titles */
    font-size: 20px; /* Adjust as needed */
    margin: 10px 0;
    padding: 0 10px;
    font-family: "Overpass", sans-serif;
    font-weight: 800;
}

.project-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.project-details-container {
    background-color: #333; /* Matches the style of other containers */
    color: #EFEFDC; /* Matches text color */
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px; /* Consistent with other elements */
    font-family: "Kode Mono", monospace; /* Matches paragraph style */
}

.project-container.selected, .client-project-container.selected{
    border: 2px solid #EFEFDC; /* Highlight with a border */
    background-color: rgba(239, 239, 220, 0.1); /* Slightly change background */
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5); /* Enhanced shadow */
}

#project-details-text{
    margin: 20px 0;
    padding: 0 10px;
}

#project-details-showcase{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 100%;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.buttons-container button{
    font-family: "Overpass", sans-serif;
    font-weight: 800;
    color: #EFEFDC;
    background-color: #292929;
    width: 115px;
    border: 2px solid #EFEFDC;
    outline: none;
}

.buttons-container button:hover{
    background-color: #292929; 
    color: #EFEFDC; 
    border: 2px solid #EFEFDC; 
    outline: none;
    box-shadow: none; 
}

.buttons-container button:active{
    background-color: #292929;
    color: #efefdc85;
    border: 2px solid #EFEFDC;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    
}

.project-details-title, .client-project-details-title{
    font-size: 20px; /* Adjust as needed */
    margin: 10px 0;
    padding: 0 10px;
    font-family: "Overpass", sans-serif;
    font-weight: 800;
}

.project-details-subtitle, .client-project-details-subtitle{
    font-size: 15px; /* Adjust as needed */
    margin: 10px 0;
    padding: 0 10px;
    font-family: "Overpass", sans-serif;
    font-weight: 300;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    margin-bottom: 20px;
}

.project-details-video, .client-project-details-video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.double-poster-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.double-poster-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.photo-gallery-container{
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.photo-gallery{
    display: flex;
    gap: 10px;
}

.gallery-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 32%;
}

.middle-gallery-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 35%;
}

.gallery-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .photo-gallery{
        flex-direction: column;
    }
    .gallery-column{
        max-width: 100%;
    }
    .middle-gallery-column{
        max-width: 100%;
    }
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #EFEFDC; /* Matches text color */
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-size: 16px; /* Adjust as needed */
    margin-bottom: 10px; /* Spacing between different social links */
    display: flex; /* Aligns icon with text */
    align-items:baseline; /* Aligns icon vertically with text */
    padding-left: 10%;
}

.social-link i {
    margin-right: 10px;
    width: 30px;
    color: #EFEFDC; /* Matches text color */
    font-size: 30px; /* Slightly larger icon size */
}

/* Hover effect for the social links */
.social-link:hover{
    color: #B8B8A4; /* Lighter color on hover */
}

#links-container {
    padding-top: 20px;
}



